doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Eze Nmezi
    meta(name="description", content="A personal website that illustrate my career path and current skills")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/favicon.ico')
    //if IE
      link(rel='shortcut icon', href='images/favicon.ico')
    // Optional: Android & iPhone
    link(rel='apple-touch-icon-precomposed', href='images/favicon-152.png')
    // Optional: IE10 Tile.
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='images/favicon-144.png')
    // Optional: ipads, androids, iphones, ...
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='images/favicon-152.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/favicon-144.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='images/favicon-120.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/favicon-114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/favicon-72.png')
    link(rel='apple-touch-icon-precomposed', href='images/favicon-57.png')




  body

  header.bird-boxes
    .back-bird
    .logo
    .fore-bird
    .fore-bird-lefty
    .barshade


  section.content

    article

      h1 M Y  &nbsp;&nbsp;  W O R K

      hr

      .clothes-pics
          .row.img-row
            figure.columns.three
              a(href="http://www.ccnm.edu", target="_blank")
                img(src="images/brand1.jpg")
                figcaption Drupal, WordPress, Moodle & More
            figure.columns.three
              a(href="http://www.ccnmihc.ca", target="_blank")
                img(src="images/brand2.jpg")
                figcaption Drupal, Wix, CSS3
            figure.columns.three
              a(href="https://web.archive.org/web/20010217183633/http://www.freshheads.labatt.com/", target="_blank")
                img(src="images/brand3.jpg")
                figcaption HTML5, FLASH, ActionScript
            figure.columns.three
              a(href="http://wattisretail.com/projectPage.php?id=147", target="_blank")
                img(src="images/brand4.jpg")
                figcaption InDesign, Quark,SAP, MSOffice
          .row.img-row
            figure.columns.three
              a(href="http://lexcorpweb.com/images/Projects/other/BIG_Deloitte1.png", target="_blank")
                img(src="images/brand5.jpg")
                figcaption Package Design, Illustrator
            figure.columns.three
              a(href="http://upperviewhomes.com", target="_blank")
                img(src="images/brand6.jpg")
                figcaption FCP, Premiere,Cinematography
            figure.columns.three
              a(href="http://www.yak.com", target="_blank")
                img(src="images/brand7.jpg")
                figcaption Photoshop, Branding, Photography, ASP
            figure.columns.three
              a(href="http://www.drbdiet.ca", target="_blank")
                img(src="images/brand8.jpg")
                figcaption Tradeshow, e-Signage,  Billboards
          .row.img-row
            figure.columns.three
              a(href="http://www.satinfinish.com", target="_blank")
                img(src="images/brand9.jpg")
                figcaption Interactive DVD,  ActionScipt, Javascript
            figure.columns.three
              a(href="http://www.oicc.ca", target="_blank")
                img(src="images/brand10.jpg")
                figcaption UX Design, PHP, ASP, SQL,<br> Branding, Social Media
            figure.columns.three
              a(href="http://www.lifematescanada.com", target="_blank")
                img(src="images/brand11.jpg")
                figcaption Flash, SEO,  SMM, Animation
            figure.columns.three
              a(href="http://ccnmbntc.ca", target="_blank")
                img(src="images/brand12.jpg")
                figcaption Drupal, Photography,  Project Management










      p I am a Digital Media Professional with over ten years of design, development and web/video engineering experience. Proven skill in overseeing projects from conception to go-live. Demonstrated ability to engage and work closely with all levels up to the C-Suite.


      br
      br
      h1 M Y  &nbsp;&nbsp;  S K I L L S

      hr

      #l
      #myParallax8.glowbox.overflow-hidden.column
        div(style='left:-1px;top:-1px;background-image: url(bg.png); height:900px; width: 100%;', data-lock='yes')
        div(style='left:0px;top:0px;', data-z='15')
          img(src='sun.png', width='100%' )
        div(style='left:0px;top:0px;', data-z='10')
          img(src='parabuilding.png', width='100%' )
        div(style='left:1000px;top:220px;', data-z='-5')
          img(src='bottomtree.png', width='100%')
        div(style='left:0px;top:-130px;', data-z='-95')
          img(src='foretree.png', width='100%')
        div(style='left:1000px;top:780px;', data-z='-295')
          img(src='mepara.png', width='100%')
        div(style='left:110px;top:240px;', data-lock='yes')
          p.white CSS HTML JAVASCRIPT JQUERY PHP BAR CHART progress pie chart

      hr

      p I excel with Social Media Planning and Strategy. I drove marketing plans and strategies to market and promoted educational and healthcare events through targeted social media campaigns, web content curation (infographics, videos), in-house print campaigns, student, donors, and alumni e-newsletters.

      hr


      .large-window
        .window-tint
          .promo-text Give me a Call
            strong <span>Cell 416-SER-IOUS </span>
            a(href="").window-cta Call Now



      h1 I'm looking foward to hearing from you

      hr

      p I love creating digital assests and Viral Video Content. I've launched videography campaigns through GoPro POV stunts and DSLR filming techniques to engage target audiences through links, blogs and e-marketing campaigns

      hr


      .blog-posts.row

        .post.columns.four.post-1
          h5 Thanks, for the new Design
          img(src="images/posts/one.jpg")
          p The ability to create, cast, direct, and engineer this viral content was a huge milestome for our department
          p: a.button(href="http://myccnm2012.tumblr.com", target="_blank")  View Campaign

        .post.columns.four.post-2
          h5 I love this video. Great Work
          img(src="images/posts/two.jpg")
          p The Cinematography and interactive digital presence has transformed our marketing and communication efforts.
          p: a.button(href="https://vimeo.com/65852728", target="_blank") Watch Videos

        .post.columns.four.post-3
          h5 It looks so good. Web Design greatness
          img(src="images/posts/three.jpg")
          p The web development and digital project execution was flawless. Thank you for helping us meet our company goals
          p: a.button(href="http://annualreport.ccnm.edu", target="_blank") View Site

  footer
    .row.footer-stuff
      .columns.three
        strong STAY IN TOUCH WITH ME
        ul
          li: a(href="") Twitter
          li: a(href="") Facebook
          li: a(href="") LinkedIN
          li: a(href="") Instagram

      .columns.three
        strong Top 5 Sites
        ul
          li: a(href="http://www.ezestudio.com", target="_blank" title="(Freelance Site)") Eze Studio
          li: a(href="http://www.mediakingdoms.com", target="_blank" title="Company Site") Media Kingdoms
          li: a(href="http://annualreport.ccnm.edu", target="_blank") Annual Reports(WordPress)
          li: a(href="http://www.ccnm.edu/sites/ccnm/files/flashcontent/ar_final.swf", target="_blank") Annual Reports(Flash)
          li: a(href="http://myccnm2012.tumblr.com/", target="_blank") Annual Reports(Social Media)

      .columns.six
        h1 Wait, don't go
        p <strong> I promise... </strong>I wont send you an email unless it's really awesome.

        form.row
          .columns.eight
            input.u-full-width(type="email" placeholder="Your Email")
            input.hidden(type="hidden" name="recipient" value="info@ezenmezi.com")
          .columns.four
            input.button-primary(type="submit")






  script(src="js/jquery-2.1.3.min.js")
  script(type='text/javascript', src='jquery.real-parallax.js')
  script(type='text/javascript').
    $(document).ready(function(){
    $('#myParallax8').parallax({ focusZ:40, sensitivityX:0, sensitivityY:0.6});
    });
  script(src="js/functions.js")
